/* ############## SUMARIO ############## *//*
 
    1ยบ Globals. (Geral)
    2ยบ Menu.
    3ยบ Input & Table. (Cadastros) 
    4ยบ Card de Foto dos Animes. 

*//* ############ SUMARIO:FIM ############## */


/* ########### GLOBALS ########### */

    hr{
        width: 360px;
    }

    .hr-linha{
        width: 40%;
        margin-right: 34%;
    }

    #linha-divisao-section
    {
        background-color:red; 
        opacity:0.5;
        height:2px;
    }

    #button-next
    {
        background-color: black;
        opacity: 0.3;
        border: none;
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin-left: 45%;
        margin-top: 200px;
        margin-bottom: 20px;
    }
        #button-next:hover{
            opacity: 0.5;
        }

        #arrow-next{
            color: cornflowerblue;
            font-size: 40px;
            margin-left:-1px;
        }

/* ############################################ */
/* ################## MENU #################### */
/* ############################################ */

    #menu-temporada
    {
        color:#33ccff; 
        margin-top:10px; 
        text-align:center;
    }

    div.container2
    {
        font-family: Arial, Helvetica, sans-serif;;
        margin-top:24px;
        text-align: center;
        font-size: 20px;
    }

    div.container2 a
    {
        text-decoration: none;
        position: relative;
        z-index: 0;
        cursor: pointer;
    }
        
        div.borderXwidth a:before, div.borderXwidth a:after
        {
            position: absolute;
            opacity: 0;
            width: 0%;
            height: 2px;
            content: '';
            background: #00d3da;
            transition: all 0.3s;
        }

        div.borderXwidth a:before
        {
            left: 0px;
            top: 0px;
        }

        div.borderXwidth a:after
        {
            right: 0px;
            bottom: 0px;
        }

        div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
        {
            opacity: 1;
            width: 100%;
        }

/* ############################################ */
/* ################ Tela Login ################ */
/* ############################################ */

    .lg-index{
        background-image: url('imagens/img245.jpg'); 
        background-size:cover;
        background-color: red;
    }
    
    .box-login{
        background-color:blue;
    }
    
    .box2-login{
        
    }

/* ############################################ */
/* ################ SESSION 01 ################ */
/* ############################################ */



/* ####### Input & Table ###### */

#row-geral{
    margin-top: 60px;
}

#col-input{
    background-color: #eeeeee;
    color: white;
    font-family: "Arial", Times, serif;
}

    #nome-input:hover{
        color: dodgerblue;
        font-size: 16px;
    }

#input-cadastro{
    background-color: transparent;
    color: black;
    border-radius: 0.5px;
    margin-top: 10px;
    width:;
}
    #input-cadastro:hover{
        background-color: white;
    }

#site-title{
    margin-left: 27%;
    margin-top: 7px;
}

#col-table{
    color: white;
}
    #col-table:hover{
        background-color: #eeeeee;
        color: black;
    }

#row-titulo-form{
    margin-top: 10px;
}

#icon-titulo01{
    color: black;
    font-size: 30px;
}
    #icon-titulo01:hover{
        color: #ff8080;
        font-size: 35px;
    }

#titulo-form{
    color: black;
    text-align: right;
    font-size: 15px;
}

#button-salvar-form{
    text-align: center;
    background-color: black;
    width: 100%;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
    color: white;
}

/* ############################################ */
/* ################ SESSION 02 ################ */
/* ############################################ */

.fa-ethereum{
    font-size: 30px;
    color: #84f6a9;
}




/* ############################################ */
/* ################ SESSION 01 ################ */
/* ############################################ */



    /*
        Table Parados 
    */

        #tr-parados
        {
            /*background: linear-gradient(to bottom, #0099ff 0%, #010818 100%);*/
            border-color: transparent;
            color: black;
        }

        #th-parados
        {
          background-color: white;
            color: #0066cc;
            border-radius: 2px;
            border-color: transparent;
            font-family: "Arial";
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          position: relative;
          -webkit-transition-property: color;
          transition-property: color;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
        }
            #th-parados:before 
            {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: cornflowerblue;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transform-origin: 50%;
              transform-origin: 50%;
              -webkit-transition-property: transform;
              transition-property: transform;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
            }
            #th-parados:hover, #th-parados:focus, #th-parados:active 
            {
              color: white;
            }
            #th-parados:hover:before, #th-parados:focus:before, #th-parados:active:before 
            {
              -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }

    #body-table-parados {
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      background: #4da6ff;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
        #body-table-parados:before {
          content: "";
            margin-top:-2px;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: white;
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        #body-table-parados:hover, #body-table-parados:focus, #body-table-parados:active {
          color: white;
        }
        #body-table-parados:hover:before, #body-table-parados:focus:before, #body-table-parados:active:before {
          -webkit-transform: scale(0);
          transform: scale(0);
        }

    #row-input-parados{
        color: white;
        padding-bottom: 50px;
    }

    .input-parados{
        background-color: transparent;
        border-radius: 0;
        color: red;
    }
        .input-parados:hover{
            background-color: #eeeeee;
        }

    .button-salvar-parados{
        background-color: darkorange;
        border-radius: 1;
        color: black;
        width: 250px;
        margin-left: 38%;
        margin-top: -50px;
    }
        .button-salvar-parados:hover{
            opacity: 0.7;
            border-color: transparent;
        }

    .button-salvar-parados {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      background: ;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
        .button-salvar-parados:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #1aff1a;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        .button-salvar-parados:hover, .button-salvar-parados:focus, .button-salvar-parados:active {
          color: white;
        }
        .button-salvar-parados:hover:before, .button-salvar-parados:focus:before, .button-salvar-parados:active:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }


    #icon-save-parados{
        color: black;
        font-size: 18px;
    }

    #season-janeiro{
        text-align: center;
    }
        #season-janeiro:hover{
        }

    #icon-table-assist{
        font-size:22px;
    }
        #icon-table-assist:hover{
            color: red;
        }

/* ############################################ */
/* ######## ANIMES PROX TEMPORADA 03 ########## */
/* ############################################ */

.btn-animeproxtemp{
    background-color: greenyellow;
    border-color: transparent;
}

/* ############################################ */
/* ######## cards ########## */
/* ############################################ */

a {
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: 13px;
}

a:hover .card-outmore {
  background: #2C3E50;
  color: #fff;
}

a:hover .thecard {
  box-shadow: 0 10px 50px rgba(0,0,0,.6);
}

.thecard {
  width: 300px;
  margin: 5% auto;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: 400ms ease;
}

.card-img {
  height: 225px;
}

.card-img img {
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

.card-caption {
  position: relative;
  background: #ffffff;
  padding: 15px 25px 5px 25px;
  border-radius: 0px 0px 4px 4px;
}

.card-outmore {
  padding: 10px 25px 10px 25px;
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #e0e0e0;
  background: #efefef;
  color: #222;
  display: inline-table;
  width: 100%;
  box-sizing: border-box;
  transition: 400ms ease;
}
.card-outmore h5 {
  float: left;
}
.card-outmore i {
  float: right;
}

span.date {
  font-size: 10px;
}

h1 {
  font-size: 22px;
}

h5 {
  margin:0;
}

#like-btn {
  font-size: 18px;
  background: #446CB3;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 20px;
  top: -22px;
  box-shadow: 0 2px 1px rgba(0,0,0,.2);
  transition: 400ms ease;
}

#like-btn:hover {
  font-size: 18px;
  background: #3B5998;
  color: #fff;
  padding: 13px 15px;
  border-radius: 50em;
  position: absolute;
  right: 20px;
  top: -22px;
  box-shadow: 0 4px 5px rgba(0,0,0,.3);
}

#outmore-icon {
  border:1px solid ;
  padding: 1px 6px;
  border-radius: 50em;
}